<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMSWindowsApp.Properties.Settings.CMSDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=CMSDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CMSWindowsApp.Properties.Settings.CMSDBConnectionString1"
            connectionString="Data Source=LAPTOP-RCP51HFI\MSSQLSERVER01;Initial Catalog=CMSDB;User ID=sa;Password=1234;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>